
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!--NAVBAR LOẠI SẢN PHẨM-->
    @Html.Action("LoaiSanPham", "TrangChu")
    <!--SLIDER-->
    @Html.Action("CarouselSlider", "TrangChu")
    <!--MID BANNER-->
    @Html.Action("MidBanner", "TrangChu")
    <!--ĐIỆN THOẠI NỔI BẬT-->
    @Html.Action("DienThoaiNoiBat", "TrangChu")
    <!--LAPTOP NỔI BẬT-->
    @Html.Action("LaptopNoiBat", "TrangChu")
    <!--CHUYÊN TRANG THƯƠNG HIỆU-->
    @Html.Action("ChuyenTrangThuongHieu", "TrangChu")
</div>
