@model WebBanDienThoaiProject.Models.Product
@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="detail-name">
        <h3>@Model.ProductName</h3>
        <div class="box-rating">
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            162 đánh giá
        </div>
    </div>
    <div class="row center">
        <div class="_col-3">
            <div class="box-info">
                <img src="~/Content/Images/@Model.ImageURL" alt="@Model.ProductName">
            </div>
        </div>
        <div class="_col-3">
            <div class="more_info">
                <p>Trả góp 0%</p>
            </div>
            <div class="box_price">
                <p class="current-price big">@Model.Price&nbsp;đ</p>
                &emsp;
                <p class="old-price big">@Model.Price&nbsp;đ</p>
            </div>
            <div>
                <a class="button red">
                    <strong>MUA NGAY<br>(Giao tận nơi hoặc lấy tại cửa hàng)</strong>
                </a>
                <a class="button blue">
                    <strong>THÊM VÀO GIỎ HÀNG<br>(Tiếp tục mua sắm)</strong>
                </a>
            </div>
        </div>
        <div class="_col-3">
            <div class="box-info">
                <h5><b>Cấu hình @Model.ProductName</b></h5>
                <ul class="list_config">
                    <li class="item_config gray">
                        <div class="item_key_left">CPU</div>
                        <div class="item_key_right">Celeron, N4020, 1.1GHz</div>
                    </li>
                    <li class="item_config white">
                        <div class="item_key_left">CPU</div>
                        <div class="item_key_right">Celeron, N4020, 1.1GHz</div>
                    </li>
                    <li class="item_config gray">
                        <div class="item_key_left">CPU</div>
                        <div class="item_key_right">Celeron, N4020, 1.1GHz</div>
                    </li>
                    <li class="item_config white">
                        <div class="item_key_left">CPU</div>
                        <div class="item_key_right">Celeron, N4020, 1.1GHz</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

