@{
    ViewBag.Title = "DanhSachSanPhamTheoLoai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!--NAVBAR LOẠI SẢN PHẨM-->
    @Html.Action("LoaiSanPham", "TrangChu")
    <!--CONTENT-->
    <h4><b>DANH SÁCH SẢN PHẨM</b></h4>
    <div class="_row">
        @foreach (var item in Model)
        {
            <div class="_col-4">
                <div class="item-product">
                    <div class="sticker-percent">
                        <p><b>Giảm 5%</b></p>
                    </div>
                    <div>
                        <a href="@Url.Action("ChiTietSanPham", "SanPham", new { id = item.MaSP })">
                            <img src="~/Content/Images/@item.HinhAnh" alt="@item.TenSP" />
                        </a>
                    </div>
                    <div>
                        <a href="@Url.Action("ChiTietSanPham", "SanPham", new { id = item.MaSP })">
                            <p>@item.TenSP</p>
                        </a>
                    </div>
                    <div>
                        <p class="current-price">@item.DonGia&nbsp;đ</p><br>
                        <p class="old-price">@item.DonGia&nbsp;đ</p>
                    </div>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

