<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>Web bán điện thoại</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div class="navbar">
                <div>
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Content/Images/head-logo.png" alt="Logo" style="width: 125px">
                    </a>
                </div>

                <form class="search">
                    <input type="text" placeholder="Bạn tìm gì..." autocomplete="off" maxlength="100">
                    <button type="submit" style="height: 40px; width: 40px;">
                        <i class="icon_search far fa-search"></i>
                    </button>
                </form>

                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i>&nbsp;Home
                </a>
                <a href="@Url.Action("Index", "Product")">
                    <i class="fas fa-mobile-alt"></i>&nbsp;Products
                </a>
                <a href="@Url.Action("Index", "AboutUs")">
                    <i class="fas fa-info"></i>&nbsp;About
                </a>
                <a href="#">
                    <i class="fas fa-address-card"></i>&nbsp;Contacts
                </a>
                @if (Session["Account"] == null)
                {
                    <div class="dropdown">
                        <a href="#">
                            <i class="fas fa-user"></i>&nbsp;Account
                        </a>
                        <ul class="dropdown-content">
                            <li>
                                <a href="@Url.Action("Signin", "Account")">Đăng Nhập</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Signup", "Account")">Đăng Ký</a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="dropdown">
                        <a href="#">
                            @using WebBanDienThoaiProject.Models;
                            @{
                                MemberAccount account = (Session["Account"] as MemberAccount);
                                string[] nameSplit = account.FullName.Split(' ');
                                string Name = nameSplit[nameSplit.Length - 1];
                            }
                            <i class="fas fa-user"></i>&nbsp;Hi,&nbsp;@Name
                        </a>
                        <ul class="dropdown-content">
                            <li>
                                <a href="@Url.Action("AccountDetail", "Account", new { id = account.ID })">Tài khoản</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Signout", "Account")">Đăng Xuất</a>
                            </li>
                        </ul>
                    </div>
                }
                @using WebBanDienThoaiProject.ViewModels;
                @{
                    List<ShoppingCartViewModel> CartList = Session["Cart"] as List<ShoppingCartViewModel>;
                    int CartQuantity = 0;
                    if (CartList == null)
                    {
                        CartQuantity = 0;
                    }
                    else
                    {
                        CartQuantity = CartList.Count;
                    }
                }
                <a href="@Url.Action("Index", "ShoppingCart")" style="position: relative;">
                    <img src="~/Content/Images/cart.png" alt="Cart" width="30" height="30" style="position: absolute;">
                    <span class="badge" style="position: relative; margin-left: 15px;">@CartQuantity</span>
                </a>
            </div>
        </header>
    </div>

    <main>
        @RenderBody()
    </main>

    <footer>
    </footer>
</body>
</html>
