@model WebBanDienThoaiProject.ViewModels.SigninViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="/Content/Site.css" />
    <title>Đăng Nhập</title>
</head>
<body>
    <main>
        <div class="small-container">
            <img class="center-image" src="~/Content/Images/head-logo.png" alt="">
        </div>
        <div class="small-container border-frames">
            <h1>Đăng Nhập</h1>
            @if (TempData["AlertMessage"] != null)
            {
                <div class="alert alert-success">
                    <strong>@TempData["AlertMessage"]</strong>
                </div>
            }
            @using (Html.BeginForm("Signin", "Account"))
            {
                <div>
                    <label>
                        Tài khoản
                    </label>
                    @Html.TextBoxFor(p => p.Username, new { @class = "input-text", type = "email", placeholder = "Nhập địa chỉ Email" })
                </div>
                <p class="danger">@Html.ValidationMessageFor(p => p.Username)</p>
                <div>
                    <label>
                        Mật khẩu
                    </label>
                    @Html.TextBoxFor(p => p.Password, new { @class = "input-text", type = "password", placeholder = "Nhập mật khẩu" })
                </div>
                <p class="danger">@Html.ValidationMessageFor(p => p.Password)</p>
                <button class="button blue medium" type="submit"><b>ĐĂNG NHẬP</b></button>
                <p class="danger">@ViewData["SigninError"]</p>
            }
            <p class="text-center text-style">
                <br>Chưa có tài khoản? &nbsp;
            </p>
            <a href="@Url.Action("Signup", "Account")" class="button gray medium">
                Tạo tài khoản
            </a>
            <a href="#">
                <p class="text-right text-style">
                    Quên mật khẩu?
                </p>
            </a>
        </div>
    </main>
</body>
</html>