@model WebBanDienThoaiProject.ViewModels.SignupViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="/Content/Site.css"/>
    <title>Đăng Ký</title>
</head>
<body>
    <div class="small-container">
        <img class="center-image" src="~/Content/Images/head-logo.png" alt="">
    </div>
    <div class="small-container border-frames">
        <h1>Đăng Ký</h1>
        @using (Html.BeginForm("Signup", "Account"))
        {
            <div>
                <label>
                    Địa chỉ Email
                </label>
                @Html.TextBoxFor(p => p.Email, new { @class = "input-text", type = "email", placeholder = "Nhập địa chỉ Email" })
                <p class="danger">@ViewData["EmailError"]</p>
            </div>
            <div>
                <label>
                    Số điện thoại
                </label>
                @Html.TextBoxFor(p => p.PhoneNumber, new { @class = "input-text", type = "tel", placeholder = "Nhập số điện thoại" })
                <p class="danger">@ViewData["PhoneError"]</p>
            </div>
            <div>
                <label>
                    Mật khẩu
                </label>
                @Html.TextBoxFor(p => p.Password, new { @class = "input-text", type = "password", placeholder = "Nhập mật khẩu" })
            </div>
            <div>
                <label>
                    Nhập lại mật khẩu
                </label>
                @Html.TextBoxFor(p => p.RePassword, new { @class = "input-text", type = "password", placeholder = "Nhập lại mật khẩu" })
            </div>
            <div>
                <p class="danger">@ViewData["RePasswordError"]</p>
            </div>
            <div>
                <label>
                    Họ Và Tên
                </label>
                @Html.TextBoxFor(p => p.FullName, new { @class = "input-text", type = "text", placeholder = "Nhập họ và tên" })
            </div>
            <div class="inline">
                @Html.CheckBoxFor(p => p.IsChecked)
                <label>
                    &nbsp;Đồng ý với các điều khoản của chúng tôi
                </label>
            </div>
            <div>
                <p class="danger">@ViewData["IsCheck"]</p>
            </div>
            <button class="button yellow medium" type="submit"><b>ĐĂNG KÝ</b></button>
        }
        <div class="inline">
            <p>
                Đã có tài khoản?
                <a class="text-blue" href="@Url.Action("Signin", "Account")">
                    Đăng nhập
                </a>
            </p>
        </div>
    </div>
</body>
</html>
